* { 
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: #ded5cd
}

#canvas1 {
    background-color: #efe8e2;
    /* border: 1px solid black; */
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%)
}

#draw-btn {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);

    z-index: 10
}